[submodule "emacs/lua-mode"]
	path = emacs/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "emacs/yaml-mode"]
	path = emacs/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs/color-theme-solarized"]
	path = emacs/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/markdown-mode"]
	path = emacs/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs/textmate-mode"]
	path = emacs/textmate-mode
	url = https://github.com/defunkt/textmate.el.git
[submodule "emacs/cucumber-mode"]
	path = emacs/cucumber
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs/rhtml-mode"]
	path = emacs/rhtml-mode
	url = https://github.com/eschulte/rhtml.git
[submodule "emacs/rvm-mode"]
	path = emacs/rvm-mode
	url = https://github.com/senny/rvm.el.git
[submodule "emacs/yari-mode"]
	path = emacs/yari-mode
	url = https://github.com/hron/yari.el
[submodule "emacs/haskell-mode"]
	path = emacs/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "emacs/smart-tab"]
	path = emacs/smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
