[submodule "emacs/lua-mode"]
	path = emacs/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "emacs/yaml-mode"]
	path = emacs/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
